#add, #clear, #save{
    color: white;
    background-color:blueviolet;
}
.lined{
    text-decoration: line-through;
}
#taskList{
    height: 200px;
    overflow-y: auto;
}
.error-message{
    color: red;
}
.hidden{
    display: none;
}